/* Adapted from: https://files3.lynda.com/secure/courses/5038219/exercises/Ex_Files_CSS_EssT.zip?pQ9z70mL994B_qCd32CTHUh2bI0bYUjeIU2J0GITN8FJGd0SmEJkZSRFRAJ8ZdWAUut7ahWJGy6EsTPcmY6zQSR71a13uwGL4kp3ngWMmTXfNgao-fM1NYhAnePuUyHxwfTqXFi2X46k9uSsDdANpHynAjOR */

/* Global
------------------------------------*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/* Body
------------------------------------*/
body {
    background-color: #ecb4e6;
}

.logo {
    display: flex;
    justify-content: center;
}

.information p {
    font-family: Arial, sans-serif;
    font-size: large;
    text-align: center;
    margin-bottom: 20px;
}

li {
    font-family: Arial, sans-serif;
    font-size: large;
    text-align: center;
    font-weight: bolder;
}

header {
    text-align: center;
    font-size: xx-large;
    color: #000;
    font-family: Arial, sans-serif;
}

a {
    font-size: 25px;
    justify-content: center;
    color: #000;
    text-decoration: none;
    font-family: "Times New Roman", sans-serif;
    font-weight: bold;
}

.hyperlinks-container {
    background: #e2bafb;
    font-size: 30px;
    border: black 2px solid;
    display: flex;
    justify-content: center;
    align-self: center;
    width: auto;
    margin: auto auto 10px;
}

/* Responsive
------------------------------------*/
@media screen and (min-width:500px) {
    header {
        text-align: center;
    }

    .title {
        font-size: 30px;
    }
}

@media screen and (max-width:499px){

    h1 {
        font-size: 25px;
        line-height: 0.9;
        margin: auto auto 10px;
    }

    a {
        font-size: 20px;
    }
}